
nav.navbar.navbar-portuguesa {
  background-color: #FFFFFF !important;
}

.navbar {
  padding-top: 0.875rem;
  padding-bottom: 0.875rem;
}

.navbar .container-fluid {
  padding-left: 3rem;
  padding-right: 3rem;
}

.navbar-logo-img {
  height: 80px;
  width: auto;
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.7);
}

.navbar-light .navbar-nav .nav-link:hover {
  color: rgba(0, 0, 0, 0.9);
}

.navbar-light .navbar-brand {
  color: rgba(0, 0, 0, 0.9);
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
